# Printing Hello

In [2]:
print("Hello world") #print use to display output

Hello world

In [1]:
name = input("Enter your name : ") #take input from user
print("Hello",name,"Welcome to Jupyter")

Enter your name : samridhi
Hello samridhi Welcome to Jupyter

# Data types in Python

1. Numbers
2. Strings
3. List
4. Tuple 
5. Dictionary
6. Sets

#### everything is data
data ->store ->raw data(wastage of time in processing data) ->convert processed data ie categorised by certain rule 
major type of datas 
1 integer eg 123
2 string eg r1234
Python has 6 rules for storing or categorising data as mentioned above-

1. Number 
supports-
#Integer
#Float
#Complex
eg x = 512345 //integer decl dynamic allocation no range
  ###### 512345 will be store in x so will x will be its container
   y= 3.14 //float decl real number represented on number line 
   z= R+Ij  4+5j

In [2]:
x=5
y=3.14
z= 3.14+5j
print(type(x),x)
print(type(y),y)
print(type(z),z)
x='Hello World'
print(type(x),x)

<class 'int'> 5
<class 'float'> 3.14
<class 'complex'> (3.14+5j)
<class 'str'> Hello World

In [3]:
x = input("Enter a number: ")
print(type(x)) #python takes input by default as string
print(x)

Enter a number: 12
<class 'str'>
12

In [4]:
#Type Conversion
x = int(input("Enter a integer number: "))
y = float(input("Enter a float number: "))
x = complex(input("Enter a complex number: "))

print(type(x),x)
print(type(y),y)
print(type(z),z)

Enter a integer number: 12
Enter a float number: 12.4
Enter a complex number: 2+7j
<class 'complex'> (2+7j)
<class 'float'> 12.4
<class 'complex'> (3.14+5j)

In [5]:
##by default use float in data type in python

In [9]:
## addition of two numbers
x = float(input("Enter first number"))
y = float(input("Enter second number"))
z = x+y
print("addition of {} and {} is {} ".format(x,y,z)) #{} buffer output
print("addition of %.2f and %.2f is %f " %(x,y,z))

Enter first number12.333
Enter second number21.22222
addition of 12.333 and 21.22222 is 33.55522
addition of 12.33 and 21.22 is 33.555220

In [1]:
### addition of three num
x = float(input("Enter first number"))
y = float(input("Enter second number"))
z = float(input("Enter third number"))
l = x+y+z
print("addition of {},{} and {} is {}".format(x,y,z,l))

Enter first number12.44
Enter second number32
Enter third number12.98
addition of 12.44,32.0 and 12.98 is 57.42

In [4]:
### subtraction of two numbers
x = int(input("Enter the first number"))
y = int(input("Enter the second number"))
z = x-y
print("The subtraction of {}and {} is {}".format(x,y,z))

Enter the first number12
Enter the second number10
The subtraction of 12and 10 is 2

In [5]:
#Multiplication of two Numbers 
x = int(input("Enter first number")) 
y = int(input("Enter second number"))
z = x*y
print("The multiplication of two numbers are {}" .format(z))

Enter first number23444
Enter second number78999
The multiplication of two numbers are 1852052556

in python we work in classes eg in all the above eq we are using  class types

## 2.String (Most important datatype)
Group of characters
defined in python as 
' ' or " " or """  """ or''' '''
' ' or " " single line 
""" """ paragraph

In [1]:
x = 'single quoted string'
y = "double quoted string"
z = """ HI
This is triple quoted string
     Define in triple quote"""
print(x)
print(y)
print(z)

single quoted string
double quoted string
 HI
This is triple quoted string
     Define in triple quote

x = "He said , "python is awesome""#syntax error 
we cant use " " in " "

In [2]:
print("He said,\" Python is awesome\" ")

He said," Python is awesome"

In [3]:
print("He said, ' python is awesome'")

He said, ' python is awesome'

In [9]:
#len function to calculate length of string(Sequence)
s = "Python"
k = len(s)
print("Length of python",k)
print(s)
print(s[3])#indexing that is printing a single character
print(s[2])#python by default prints in new line as print character \n

Length of python 6
Python
h
t

In [6]:
s = "python"
len(s)

6

#FEATURES OF STRING
###INDEXING[ ]
"P Y T H O N "
 0 1 2 3 4 5 
### slicing [starting:ending:step] bydefault step value is 1
way of fetching sub string from string

In [11]:
s = "HELLO WORLD"
print(s)
print(s[6:11])#ending = s+1

HELLO WORLD
WORLD

In [13]:
s = "Python is Interpreted language"
print(len(s))
print(s[10:21])

30
Interpreted

In [14]:
s = "Python is Interpreted language"
print(s[ :21])#bydefault starting value is zero

Python is Interpreted

In [15]:
s = "Python is Interpreted language"
print(s[21:])#by default last value in ending

 language

In [17]:
s = "0123456789"
k = s[::2]
print(k)
l = s[::-1] #negative indexing
# 0 1 2 3 4 5 6 7 8 9
#-10-9-8-7-6-5-4-3-2-1
print(l)

02468
9876543210

In [19]:
s = "Hello how are you"
print(s[::-1])
print(s[-13:-18:-1]) #to print reverse word in a particular string

uoy era woh olleH
olleH

In [20]:
x = "Python"
dir(x)#define attributes and function of class above

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [21]:
# . in python is access specifier 
# we use . parameter to acess the functions of class 
x = "Hello World"
k = x.upper()#they doesnt change string only convert them we dont store them in container k then data will be lost 
l = x.lower()
h = x.swapcase()
print(k)
print(l)
print(h)

HELLO WORLD
hello world
hELLO wORLD

In [22]:
s = "Python"
doc = s.title.__doc__ #gives documentation of a function in class defined
print(doc)

S.title() -> str

Return a titlecased version of S, i.e. words start with title case
characters, all remaining cased characters have lower case.

In [25]:
s = "All Dogs are cats but all cats are not Dogs"
k = s.find('Dogs')#Search from left to right
print(k)
k = s.replace('Dog','cat')#doesn't change orginal statements
print(k)
print(s)

4
All cats are cats but all cats are not cats
All Dogs are cats but all cats are not Dogs

Python has built-in string validation methods for basic data. It can check if a string is composed of alphabetical characters, alphanumeric characters, digits, etc.

str.isalnum() 
This method checks if all the characters of a string are alphanumeric (a-z, A-Z and 0-9).

>>> print 'ab123'.isalnum()
True
>>> print 'ab123#'.isalnum()
False
str.isalpha() 
This method checks if all the characters of a string are alphabetical (a-z and A-Z).

>>> print 'abcD'.isalpha()
True
>>> print 'abcd1'.isalpha()
False
str.isdigit() 
This method checks if all the characters of a string are digits (0-9).

>>> print '1234'.isdigit()
True
>>> print '123edsd'.isdigit()
False
str.islower() 
This method checks if all the characters of a string are lowercase characters (a-z).

>>> print 'abcd123#'.islower()
True
>>> print 'Abcd123#'.islower()
False
str.isupper() 
This method checks if all the characters of a string are uppercase characters (A-Z).

>>> print 'ABCD123#'.isupper()
True
>>> print 'Abcd123#'.isupper()
False

# List 
collection of items(mutable data type)
data types
1. Homogenous (Array)
2. Hetrogenous (Structure)
list supports slicing and indexing

In [30]:
mylist = [1,2,3,4,5,6]#homogenous
mylist1 = [1,2.12,9+2j,'hello world']#hetrogenous
print(mylist)
print(mylist1)
print(*mylist)
k = mylist[3:7]
print(*k)

[1, 2, 3, 4, 5, 6]
[1, 2.12, (9+2j), 'hello world']
1 2 3 4 5 6
4 5 6

In [ ]:
#Introduction in List
list1 = [1,2,3,4] #homogenous structure of list
list2

In [5]:
l = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(*l[3::3])
print(*l[::-1])
print(*l[::2])
print(*l[-20:-10])
print(*l[-5:-15:-2])

4 7 10 13 16 19
20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1
1 3 5 7 9 11 13 15 17 19
1 2 3 4 5 6 7 8 9 10
16 14 12 10 8

In [33]:
mylist = [1,23,4,123,'hi',45,10,12,66,77,'hello']
print(dir(mylist))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

##Functions of List
       ###Add items in list-
1. Append
2. Insert
3. Extend
       ###Remove items from list-
1. Pop
2. Remove
3. Sort
        ###Some Common Functions-
1. sort
2. index
3. count
4. copy
5. reverse
6. clear

In [35]:
#append it will add a item at the end of the list use - mylist.append(item)
mylist = [1,2,3,67,'hello',45,10]
mylist.append('bye')
print(*mylist)
mylist.append(56)
mylist.append(24)
mylist.append(23)
print(*mylist)

1 2 3 67 hello 45 10 bye
1 2 3 67 hello 45 10 bye 56 24 23

In [40]:
print(*mylist)
#1 2 3 67 hello 45 10 bye 56 24 23
#insert -> it will take index and item and add that item to given item
#use = mylist.insert(index,item)
#it will not replace item it will just add item to list
#passing of both arguments is compulsary
mylist.insert(4,100)
mylist[5]= 23 #it will repalce item of 4 index with 23
print(*mylist)
#extend is use to add multiple items
mylist.extend('python')#it will take one one item and add it to list bydefault it will add to last
print(*mylist)
mylist.extend(['hello','world'])
print(mylist)

1 2 3 67 100 23 23 23 45 10 bye 56 24 23 p y t h o n p y t h o n
1 2 3 67 100 23 23 23 23 45 10 bye 56 24 23 p y t h o n p y t h o n
1 2 3 67 100 23 23 23 23 45 10 bye 56 24 23 p y t h o n p y t h o n p y t h o n
[1, 2, 3, 67, 100, 23, 23, 23, 23, 45, 10, 'bye', 56, 24, 23, 'p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n', 'p', 'y', 't', 'h', 'o', 'n', 'hello', 'world']

In [45]:
m = [1 ,2 , 67 ,100, 23, 23 ,23, 45, 10, 'bye', 56, 24, 23, 'p', 'y', 't' ,'h', 'o', 'n' ]
m.pop()
m.pop();mylist.pop()#when we want to write two statements in same line use ;
m.pop()#remove items from last
m.pop()
m.pop()
m.pop()
print(m)
m.pop(2)#remove item at index 2
print(m)
m.remove('bye')#it removes item from list
m.remove(23)
print(m)

[1, 2, 67, 100, 23, 23, 23, 45, 10, 'bye', 56, 24, 23]
[1, 2, 100, 23, 23, 23, 45, 10, 'bye', 56, 24, 23]
[1, 2, 100, 23, 23, 45, 10, 56, 24, 23]

In [56]:
mylist = [1, 2, 67, 100, 23, 23, 23, 45, 10, 'bye', 56, 24, 23]
k = mylist.count(23)#prints repeative item
print(k)
mylist1 = mylist.copy()#it copies the list
print(mylist1)
mylist1.clear()#it clears items of list does not delete items
print(mylist1)
mylist.reverse()
print(mylist)
mylist.remove('bye')
mylist.sort()#works on homogenous list
print(mylist)
mylist.sort(reverse=True)
print(mylist)

4
[1, 2, 67, 100, 23, 23, 23, 45, 10, 'bye', 56, 24, 23]
[]
[23, 24, 56, 'bye', 10, 45, 23, 23, 23, 100, 67, 2, 1]
[1, 2, 10, 23, 23, 23, 23, 24, 45, 56, 67, 100]
[100, 67, 56, 45, 24, 23, 23, 23, 23, 10, 2, 1]

In [57]:
mylist = [1, 2, 67, 100, 23, 23, 23, 45, 10, 'bye', 56, 24, 23]
print(mylist.reverse())#it does not return any value it implements the operation on list

None

In [7]:
#list data type (mutable data type)(can be changed mutable data type)
#collections of items - known as array if all items are similar
#else known as structure if all data types are different
l = ['hi', 'i','am','a','list']#declartion of list
print(l)#printing the whole list
#list has index number that start from zero
print(l[0])#acccessing the index 0 element that is hi
print(l[-1])#accessing the last element of list
print(l[4])#element of index 4
#Another way of travelling in list is slicing
#slicing define starting and ending of list with start:end parameter
#index the index
print(l[:])#will print the whole list starting from zero and ending from end
print(l[3:5])#will print elements from index 3 to 4
#it will not print 5 because slicing works n-1 index from n
print(l[:4])#will print till index 3 starting from zer0
#slicing also supports jump as l[start:end:jump] which prints jump var from starting
print(l[::2])#will print second element of each list
print(l[2:5:3])
print(l[::-1])#will print list in reverse
print(l[-5:-1:2])#will print every second element from index -5 to end

['hi', 'i', 'am', 'a', 'list']
hi
list
list
['hi', 'i', 'am', 'a', 'list']
['a', 'list']
['hi', 'i', 'am', 'a']
['hi', 'am', 'list']
['am']
['list', 'a', 'am', 'i', 'hi']
['hi', 'am']

In [7]:

l = [1,3,4,12,4,67,8]
print("item  {} is removed from list".format(l.pop(2)))#here the value is returned 
print(l.remove(1))#doesnot return any value
print(l.count(4))
print(l.sort())
mylist = l.copy() #return values
print(mylist)
n = mylist.clear()
print(n)
#those function which do not return any value return none by default

item  4 is removed from list
None
1
None
[3, 4, 8, 12, 67]
None

# Tuples 
TUPLE are immutable data type that cant be changed after its defination
##Only count() and index() functions can be used 
##Tuple does not support item assignment

In [24]:
mytuple = (1,2,4,67,78,2,2,4,[1,2,35,78])
print(mytuple)
print(dir(mytuple))
print(mytuple[-1:])#prints only one attributes
print(mytuple[-1::-1])#reverse  list
print("2 is repeated {} many time " .format(mytuple.count(2)) )
print("index of three is", mytuple.index(67) )
print(*mytuple[8][0:3:2]) # element which is a list in tuple all the properties of list are applicable here

(1, 2, 4, 67, 78, 2, 2, 4, [1, 2, 35, 78])
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']
([1, 2, 35, 78],)
([1, 2, 35, 78], 4, 2, 2, 78, 67, 4, 2, 1)
2 is repeated 3 many time
index of three is 3
1 35

In [18]:
#example of 2d list 
hello = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
print(hello[2])
print(hello[2][2])

[7, 8, 9]
9

In [19]:
mylist  = [
    [1,2,45,34,234],
    [124,34,5,67,45],
    [23,4,7,78,[23,45,'hello',4]]
]
x = mylist[2][4][2]
print(x)

hello

# Dictionary
defined as {}
##does not work on indexing
##works on key
dict_name = {'key' : 'value1' ,
             'key2 :  'value2',
             .
             . 
             .
             }

In [29]:
#dictionary is collection of key and value
mydict = {
    'name' : 'python',
    'scope' : "world wide",
    'build_year' : 1994,
    'Frame Works' : ['django','flask','web2py','pyramid'],
    'father' : 'Guido Van Rossum',
    'Feilds' :['scripting','web development','AI','ML','Software Development','Data Science']
}
print(mydict)#Dictionary is faster than list
#Because list works on indexing
print(*mydict)#print keys of dictionary
print(dir(mydict))
print(mydict.get('name'))#prints value of keys
print(mydict.keys())
print(mydict.values())

{'name': 'python', 'scope': 'world wide', 'build_year': 1994, 'Frame Works': ['django', 'flask', 'web2py', 'pyramid'], 'father': 'Guido Van Rossum', 'Feilds': ['scripting', 'web development', 'AI', 'ML', 'Software Development', 'Data Science']}
name scope build_year Frame Works father Feilds
['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']
python
dict_keys(['name', 'scope', 'build_year', 'Frame Works', 'father', 'Feilds'])
dict_values(['python', 'world wide', 1994, ['django', 'flask', 'web2py', 'pyramid'], 'Guido Van Rossum', ['scripting', 'web development', 'AI', 'ML', 'Software Development', 'Data Science']])

In [37]:
mydict = {
    'name' : 'python',
    'scope' : "world wide",
    'build_year' : 1994,
    'frame-works' : ['django','flask','web2py','pyramid'],
    'father' : 'Guido Van Rossum',
    'feilds' :['scripting','web development','AI','ML','Software Development','Data Science']
}
print("Here are your keys to select",mydict.keys())
mydict['name'] = 'Python Programming Language'
key = input("Enter a key:").strip().lower()
value = mydict[key]
print(value)
key = input("Enter a new key")
value = input("Enter a value for your key")
mydict[key] = value
print(mydict[key],'successfully added')
print(mydict)

Here are your keys to select dict_keys(['name', 'scope', 'build_year', 'frame-works', 'father', 'feilds'])
Enter a key:name
Python Programming Language
Enter a keyversion
Enter a value for your key3.6
3.6 successfully added
{'name': 'Python Programming Language', 'scope': 'world wide', 'build_year': 1994, 'frame-works': ['django', 'flask', 'web2py', 'pyramid'], 'father': 'Guido Van Rossum', 'feilds': ['scripting', 'web development', 'AI', 'ML', 'Software Development', 'Data Science'], 'version': '3.6'}

In [35]:
s = "  hello world      "
s.strip()#remove white space
#s.lstrip()#remove left white space
#s.rstrip()#remove right white space

'hello world'

# SETS

S = {

     }

In [39]:
s1 = {1,2,3,4,5,2,2,2,1,1,1,1}#sets cant be defined empty
s2 = [4,5,6,7,8,8,8,8,8]#in sets only one item is printed once
print(s1)
print(s2)
print("type of s1 = ",type(s1))
print(dir(s1))

{1, 2, 3, 4, 5}
[4, 5, 6, 7, 8, 8, 8, 8, 8]
type of s1 =  <class 'set'>
['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

In [41]:
s1 = {1,2,3,4,5,2,2,2,1,1,1,1}#sets cant be defined empty
s2 = [4,5,6,7,8,8,8,8,8]
print(s1)
print(s2)
#value = s1.intersection(s2)
print("Intersection of s1 and s2",s1.intersection(s2))
#value = s1.union(s2)
print("Intersection of s1 and s2",s1.union(s2))
value = s1.difference(s2)
print("Difference of {}and {} is {}",(s1,s2,value))

{1, 2, 3, 4, 5}
[4, 5, 6, 7, 8, 8, 8, 8, 8]
Intersection of s1 and s2 {4, 5}
Intersection of s1 and s2 {1, 2, 3, 4, 5, 6, 7, 8}
Difference of {}and {} is {} ({1, 2, 3, 4, 5}, [4, 5, 6, 7, 8, 8, 8, 8, 8], {1, 2, 3})

# TYPE CONVERSION

In [43]:
#int('ABCD') error will generate
print(int("123456",8))
print(int('010101010101',2))#integer only take strings when we want to convert

42798
1365

In [44]:
oct(1234) #OCTAL CONVERSION

'0o2322'

In [45]:
hex(1234)#hexadecimal conversion

'0x4d2'

In [46]:
float(' 123.6 ') #space is allowed

123.6

In [47]:
complex('56')

(56+0j)

In [48]:
complex('56+9j')

(56+9j)

In [49]:
d = {'a':1,'b':2}
str(d)

"{'a': 1, 'b': 2}"

In [52]:
#list()
#Sequence can be passed tupple dictionary sets
mylist = list('python')
print(mylist)

['p', 'y', 't', 'h', 'o', 'n']

In [54]:
t = (1,2,3,4)
l = list(t)
print(l)

[1, 2, 3, 4]

In [59]:
d = {'a':1 ,'b':2}
l = list(d)
print(l)
l1 = list(d.items())
print(l1)
print(list(d.values()))

['a', 'b']
[('a', 1), ('b', 2)]
[1, 2]

In [60]:
print(set(d))

{'a', 'b'}

In [62]:
t =  (#tuple
('name','python'),
('hello','world'))
print(dict(t))

{'name': 'python', 'hello': 'world'}

In [1]:
outer_list = []
inner_list = []
key1 = input("Enter key1")
value = input("Enter value of key1")
key2 = input("Enter key2")
value2 = input("Enter value of key 2")
inner_list.append(key1)
inner_list.append(value)
outer_list.append(inner_list)
d = dict(outer_list)
inner_list.clear()
inner_list.append(key2)
inner_list.append(value2)
outer_list.append(inner_list)
d.update(outer_list)
print(d)

Enter key112
Enter value of key13
Enter key213
Enter value of key 24
{'12': '3', '13': '4'}

In [5]:
int("abc",16)

2748

In [12]:
list1 = [1,2,3,4]
str(list1)
type(list1)

'[1, 2, 3, 4]'

# Operators
### Unary operator (single operand)
### Binary operator (two operand)
##Arthimetic Operator(Binary operator)
1.Addition+  
2.Subtraction - 
3.Multiplication * 
4.Division /
### Modulus % ### Floor Division // ### Exponent

# Types of Operators
1. Arthimetic Operators
2. Comparision Operators
3. Logical Operator
4. Assignment Operator
5. Binary Operator
6. Identity Operator
7. Membership Operator

In [3]:
#addition operator 
x = int(input("Enter value of x"))
y = int(input("Enter value of y"))
z = x + y 
print("Addition of {} and {} is {}".format(x,y,z))#same work on float and complex

Enter value of x12
Enter value of y13
Addition of 12 and 13 is 25

In [4]:
x = "HELLO "
y = "WORLD"
z = x + y
print(z) #WE dont give space then hello world will concentate as helloworld

HELLOWORLD

In [7]:
l = [1,2,3]
l2 =[4,5,6]
print(l+l2)#list will append that is second list will merge into first and single list will be formed. 
#lIST,TUPPLE AND STRING IS SEQUENCIAL DATA TYPE
#DICTIONARY AND SETS ARE NON SEQUENCIAL
#INTEGER ARE NEITHER SEQUENCIAL NOR NON SEQUENCIAL DATA TYPE

[1, 2, 3, 4, 5, 6]

In [8]:
t = (1,2,3)
t2 = (4,5,6)
print(t+t2)#here a new tupple is being formed

(1, 2, 3, 4, 5, 6)

In [9]:
#Neither of arthimetic operators works on dictionary operators.

In [11]:
"""s1 = {1,2,3}
s2 = {4,5,6}
print(s1+s2)"""
#arthimetic operator does not operate on non sequencial data types

's1 = {1,2,3}\ns2 = {4,5,6}\nprint(s1+s2)'

In [14]:
#Subtraction Operator

x =10
y = 50
print(x-y)
"""s = 'hello'
l = 'world'
print(s-l)""" 
#it does not work on list and tupple

-40

"s = 'hello'\nl = 'world'\nprint(s-l)"

In [18]:
#Multiplication Operator 
x = 53
y = 20
print(x*y)
"""s = "Hello world"
l = "hi"
print(s*l)"""#Does not work here only work when we multiply string by number
s = "Hello"
l = 5
print(s*l)##it will repeated number of times
#It will not work on list and tupple
l1 = [1,2,3]
print(l1*3)

1060
HelloHelloHelloHelloHello
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [19]:
#Divison Operator(works on numbers)
x = 10
y = 3
print(10/3)#it will give absolute divison

3.3333333333333335

In [20]:
#Modulus Operator
x = 10
y = 3
print(x%y)#remainder
print(x//y)#quotient

1
3

In [21]:
print(53/12)
print(53%12)
print(53//12)

4.416666666666667
5
4

In [22]:
#Exponent Operator
x = 5#base
y = 3#power
print(x**y)#left to right

125

# Comparsion Operator 
1. Less than <
2. Less than equal to  <=
3. Greater than >
4. Greater than equal to >=
5. Equals to Equals ==
6. Not equals to operator(!=)
###python considers False,0and none as false

In [23]:
print(6<8)
print(8<6)
print(6<=6)
print(6<=3)
print(5>6)
print(6>5)
print(6>=6)
print(6>=5)
print(6==6)
print(6==7)
print(6!=6)
print(6!=7)

True
False
True
False
False
True
True
True
True
False
False
True

# Logical Operators
1. and Operator
2. or  Operator
3. not Operator
###There are no symbols for above operators in python
### They work on boolean data types
### that is they need either true or false

In [24]:
# x  y or and not
# T  T  T  T  F
# T  F  T  F  -
# F  T  T  F  T
# F  F  F  F  -

In [26]:
print(6-4*3+6 and 6<5)
print(6-4*3+6 or 6<5)
print(not True)

0
False
False

In [29]:
print(6 and -12)#it works on true and false 
#it will consider every other thing as true and therefore return the value
print(1 and None)
print([1,2,3] and {1 : 2, 3 : 4})

-12
None
{1: 2, 3: 4}

In [32]:
x = True
y = False
print("X\tY\tand\tor")
print("{}\t{}\t{}\t{}".format(x,x,x and x,x or y))
print("{}\t{}\t{}\t{}".format(x,y,x and y,x or y))
print("{}\t{}\t{}\t{}".format(y,x,x and y,x or y))
print("{}\t{}\t{}\t{}".format(y,y,x and y,x or y))

X	Y	and	or
True	True	True	True
True	False	False	True
False	True	False	True
False	False	False	True

In [35]:
x = True
y = False 
print("x\t Not")
print("{}\t{}".format(x, not True))
print("{}\t{}".format(y, not False))

x	 Not
True	False
False	True

In [36]:
#Assignment Operator
x = 'something'
print(x)

something

In [37]:
k = ((6*5/2-5) and (6<4 or 3>6)) or (10/2*3-1)
print(k)

14.0

In [38]:
x = 6 + 7
print(x)
x,y = 8,7
l = ['hi','bye','k']
a,b,c = l
print(x,y,a,b,c)

13
8 7 hi bye k

In [40]:
x = 5
y = 6
x,y = y,x#swapping
print(x,y)
a = 4
b = 6
c = 10
a,b,c = a+b,a-b,c*b
print(a,b,c)

6 5
10 -2 60

In [10]:
x = "o-"
print(dir(x))
print(x.upper())

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
O-

In [5]:
#Membership Operators
#in #not in
s = "Dog is an animal"
k = "Dog" in s
print(k)
y = "cat" in s
print(y)
x = "Dog" not in s
print(x)
g = "cat" not in s
print(g)

True
False
False
True

In [6]:
l = [1,2,3,4]
l2 = [3,4]
if l2 in l :#it consider [3,4] as single items
    print("Pattern Found")
else :
    print("Pattern not found")#list only checks items

Pattern not found

In [9]:
l = [1,2,3,4,77,66,24537,9081]
if int(input("Enter a number :")) in l :
    print("Number found in list")
else :
    print("Number not found in list")

Enter a number :12
Number not found in list

In [17]:
#rock paper and scissor
from getpass import getpass #takes import from user as password
p1 = getpass("Player 1:")
p2 = getpass("Player 2:")
t1 = [('r','s'),('s','p'),('p','r')]
t2 = [('r','s'),('s','r'),('p','s')]
if p1 == p2 :
    print("Match tie")
elif (p1,p2) in t1 :
    print("player1 is winner")
else :
    print("Player 2 is winner")
print(p1)
print(p2)

Player 1:········
Player 2:········
player1 is winner
r
s

# Identity Operator

In [1]:
#is  or is not
x = 5
y = 5
print(x is y)
print(x is not y)
p = 3
q = 4
if p is q :
    print("Both are equal")
else :
    print("Both are different")

True
False
Both are different

In [ ]:
#rock paper and scissor
t1 = [('r','s'),('s','p'),('p','r')]
t2 = [('r','s'),('s','r'),('p','s')]
from getpass import getpass #takes import from user as password
while True :
    p1 = getpass("Player 1:")
    p2 = getpass("Player 2:")

    if p1 == p2 :
         print("Match tie")
    elif (p1,p2) in t1 :
         print("player1 is winner")
    else :
         print("Player 2 is winner")
ch = input("")

In [1]:
from random import randrange
print(randrange(1,100))

48

In [1]:
import math 
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'tau', 'trunc']

In [1]:
#json java script object notation 
#dump - put data into file
#load - read

In [30]:
s = "something"
print(s[i])
print(len(s))
print(s[1:3])

g
9
om

In [ ]:
s